.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.home-banner {
  background-image: url('https://unsplash.com/photos/n_IKQDCyrG0');
  background-size: cover;
  height: 100vh;
  // color: #eee;
  text-align: center;
  padding-top: 40vh;
}

